
// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************************
GENERAL
********************************/



*, *:before, *:after {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(242,242,242);
}

a:hover,
a:focus,
.selected {
    color: rgba(0,183,255,1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(66,66,66);
    margin: 0 auto;
    background: #efefef;
    text-align: center;
}

ul {
    list-style-type: none;
}


/*********************************************
HOME PAGE
*********************************************/
#header {
    position: relative;
    padding: 8px;
    background-color: rgba(30,30,30,1);
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    height: 86px;
}

#logo {
    height: 40px;
    z-index: 1000;
    float: left;
    margin: 11px 0 0 2%;
}

#browser_menu {
    display: none;
}

#nav_lines {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 9px 15px 0 0;
    float: right;
    cursor: pointer;
    z-index: 1000;
}

.hamburger {   
    position: absolute;
    right: 12px; 
    bottom: 17px;    
    border-top: 4px rgb(222,222,222) solid;
    box-shadow: 
    0 11px 0 0 rgb(222,222,222),
    0 22px 0 0 rgb(222,222,222);
    width: 26px;
    float: right;
/********************3 lines menu*/
}

.hamburger_toggle {
    border-top: 4px rgba(0,161,217,1) solid;
    box-shadow: 
    0 11px 0 0 rgba(0,161,217,1),
    0 22px 0 0 rgba(0,161,217,1);
/********************3 lines menu*/
}

#mobile_menu {
    text-align: center;
    font-size: 1.6rem;
    position: fixed;
    top: 85px;
    left: 0;
    height: 450px;
    width: 100%;
    background-color: rgba(10,151,255,1);
    display: none;
}

#mobile_menu a {
    margin: 0 auto;
    display: block;
    padding: 8px 0 8px;
    color: white;
    border-bottom: 2px white solid;
    width: 100%;
    transition: all, 500ms;
}

#mobile_menu a:hover {
    color: black;
    background-color: white;
    transition: all, 500ms;
}

#mobile-drop .mobile-submenu{
    height: 40px;
    font-size: 1.3rem;
    background-color: rgba(10,191,255,1);
    margin: 0;
}

#mobile-drop p:not(:last-child){
    border-bottom: 2px solid white;
}

#mobile-drop {
     color: white;
     display: none;   
}

#mobile_menu a.selected{
    background: white;
    color: rgba(10,151,255,1);
}

#mobile-drop a.selected{
    background: blue;
    color: white;
    border-bottom: 2px solid white;
    height: 40px;
}

.buttonx {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 29px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 180px;
    border: 3px white solid;
    font-size: 1.6em;
    background-color: rgba(0,0,0,.8);
    display: block;
    transition: all, 500ms;
}

.buttonx a {
    padding-top: 2px;
    color: white;
    display: block; 
    transition: all, 500ms;
}

.buttonx:hover {
    background: rgba(255,255,255,.75);
    border: 3px rgb(0,0,55) solid;
    transition: all, 500ms;
}

.buttonx a:hover {
    color: black;
    transition: all, 500ms;
}

#photo2 li {
    margin-left: 19px;
    text-align:left;
    list-style-type: square;
}


/*
#lower-home>li,
#lower-home>p,
#lower-home>span {
    line-height: 1.3em;
}
*/

.button2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 40px;
    width: 180px;
    border: 3px darkgray solid;
    font-size: 1.5em;
    background-color: rgba(0,0,0,.7);
    display: block;
    transition: all, 500ms;
}

.button2 a {
    padding-top: 2px;
    color: white;
    display: block; 
    transition: all, 500ms;
}

.button2:hover {
    background: rgba(255,255,255,.75);
    border: 3px rgb(0,0,55) solid;
    transition: all, 500ms;
}

.button2 a:hover {
    color: black;
    transition: all, 500ms;
}

h5{
    text-align: center;
}

#partners {
    background-color: rgba(30,30,30,1);
    padding: 1px 0 1px; 
}

#partners ul li {
    display: block;
    list-style-type: none;
    margin: 20px 20px 20px -15px;
}

#partners li img[src*="outcyclinglogo"] {
    height: 48px;
}

#partners ul img {
    height: 55px;
    
}

h1,h2,h3 {
    color: rgb(24,24,24);
}

table {
    border-collapse: collapse;
}

tr, td, th {
    border: 1px solid black;
    padding: 8px;
}


/***********************************************
HOME/ABOUT PAGE
************************************************/

#body-youth {
    background-color: white;
}


#browser-menu-youth {
    display: none;
}


.jumbotron-youth {
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),image-url('aboutpic.jpg');
    background-position: 47% 50%;
    background-size: cover;
    height: 455px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 85px;   
}

.jumbotron-about{
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),image-url('sloane_youth.jpg');
    background-position: 20% 30%;
    background-size: cover;
    height: 455px;
    text-align: center;
    color: white;
    position: relative;
    width: 100%;
    margin-top: 85px;   
}

#youth-text {
    color: floralwhite;
    font-size: 2.3rem;
    font-weight: 500;
    background: rgba(30,30,30,1);
}

#home-parag {
    width: 98%;
    margin: 0 auto;
    font-size: 1.1rem;
    
}

#home-parag p:first-child{
    margin-top: 13px;
    margin-bottom: 21px;
}

#home-parag p:last-child{
    margin-top: 3px;
}

#grad-photo {
    position: relative;
    text-align: center;
    color: white;
    font-size: 1.4em;
}


#about-youth img {
    border-radius: 0;
    width: 100%;
    position:relative;
}
  
#inset {
    position: absolute;
    bottom: 8px;
    width: 100%;
    margin-left: auto; /*center the inset*/
    margin-right: auto; /*center the inset*/
    left: 0;           /*center the inset*/
    right: 0;          /*center the inset*/
    background: rgba(0,0,0,.5);
    height: 3rem;
    line-height: 3rem;
    font-size: 1.7rem;
}

.fearless-flyers-program{
    font-size: 1.3rem;
    font-weight: 600;
}

#youthwidth {
    width: 100%;
    margin: 0px auto;
    margin-top: 0px;
    position: relative;
}

#about-youth,
#about-youth-supporters{
    margin: 0 auto;
    color: rgb(50,50,50);
    font-size: 1.1rem;
}

#supporters-youth-photo{
    margin: 0 auto;
    color: rgb(50,50,50);
    background: #aaa;
}

#about-youth {
    background: #efefef;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
}

#about-youth h4{ /*home page*/
    margin-left: 5px;
    margin-top: -10px;
}

#about-youth p {
    padding: 0 0 0 9px;
}

#about-supporters{
    text-align: center;
    font-size: .9rem;
    margin: 0px 0px 10px;
    padding: 6px;
    clear:both;
}

#youth-grads {
    background: white;
    padding: 15px 5px 0;
    margin: 10px auto 0; 
}

#grad1 {
    float: left;
    margin: 0 0 14px 0;
}

#youth-grads img {
    border-radius: 50%;
    float: left;
    height: 150px;
    display: inline-block;
}

.info {
    float: left;
    text-align: left;
    width: 45%;
    display: inline-block;
    margin:0 0 5px 20px;
}

.name {
    margin-top: 20px;
    font-weight: 500;
}

.desc {
    display: block;
    margin-top: 125px;
    text-align: left;
}

#risks{
    padding: 5px 15px 1px 0;
    margin: 0 auto 10px;
    background: #efefef; 
}

#risks h3{
    color: rgba(10,151,255,1);
    margin: 10px 0 -10px 5px;
    font-size: 1.4rem;
    padding-left: 4px;
}

#about-youth h2 {
    color: #232323;
    margin-left: 3px;
}

#diany-photos{
    padding: 5px 3px;
}

#diany-photos h3{
    color: rgba(10,151,255,1);
    
}

#diany-photos img{
    width: 100%;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;    
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3px;
	width: 98%;
	height: 98%;
    max-width:970px;
    max-height:556px;
    border: 2px solid rgba(44,44,44,.8);
}

#invest-youth {
    text-align: center;
    color: dodgerblue;
    font-weight: 400;
    font-size: 1.1em;
}

#tax-youth {
    font-size: .7em
}

.youth-button {
    width: 400px;
}


/***********************************************
STAFF PAGE
************************************************/

#main-content {
    margin: 98px 18px 0;
}

.profile {
    padding: 18px 4px 8px;
    margin-bottom: 10px;
}

.profile-photo {
    height: 170px;
    border-radius:4%;
    border: 2px solid cornflowerblue;
}

.profile-name {
    font-size: 1.2em;
    font-weight: 500;
    color: cornflowerblue;
    margin-top: 3px;
    margin-bottom: 5px;
}

.profile-title{
    margin-top: 4px;
    font-weight: 500;
}

.profile-desc {
    margin-top: -7px;
    text-align: justify;
}



/***********************************************
SUPPORTERS PAGE
************************************************/

#about-youth-supporters-page {
    margin: 0 auto;
    color: rgb(50,50,50);
    font-size: 1.1rem;
}

#supporters-page{
    background: rgb(233,233,233);
}

#supporters-names{
    text-align: left;
    font-size: .9rem;
    padding: 0 16px 9px;
    clear:both;
}

.supporters{
/*    margin: -10px 0 4px 0;*/
    margin: 0 auto;
    padding-left: 21%;
    display: block;
    width: 100%;
}

#about-supporters h2{
    margin:0;
    padding: 13px 0 0;
}

.supporters li{
    list-style-type: none;
    padding-left: 15px;
}

.supporters h3{
    color: rgb(40,40,40);
    margin-bottom: 4px;
}

#supporters-youth-photo{
    padding: 11px;
    background: #efefef;
}

#supporters-youth-photo img{
    max-width: 100%;
    margin-bottom: 6px;
}

#donation{
    padding: 1px 0 1px;
    background: rgba(10,151,255,.2);
    border: 2px solid black;
    max-width: 330px;
    margin: 0 auto;
}

.donate-button{
    padding-bottom: 20px;
}


/***********************************************
YOUTH PROFILES PAGE
************************************************/

#profiles-width{
    width: 100%;
    margin: 85px auto 0;
    position: relative;
}

#profiles-youth{
    margin: 0 auto;
    color: rgb(50,50,50);
    font-size: 1.1rem;
    background: #efefef;
    padding: 0 20px;
    text-align: left;
}

#profile{
    padding: 5px 15px 1px 0;
    margin: 0 auto 10px;
    background: #efefef; 
}
#profile img {
    width: 30%;
    float: left;
}

#profile p{
    width: 66%;
    margin-top: -2px;
    float: right;
}

#profile h3{
    font-size: 1.4rem;
}

#profile-videos-outer{
    text-align: left;
}

#profile-videos-outer h2,
#profile-videos-outer h3{
    padding: 0 10px;
}

#profile-videos{
    
}


/***********************************************
APPLY PAGE
************************************************/

#app-youthwidth {
    width: 90%;
    margin: 0 auto;
    position: relative;

}

#flyers-info {
    text-align: left;
    padding: 0 3% 0;
    margin: 104px 0 7px;
    border: 2px solid lightgrey;
    background-color: floralwhite;
}

#flyers-goal {
    font-size: 28px;
    font-weight: 700;
}

#flyers-goal+span {
    font-weight: 500;
}

#flyers-info h1:first-child {
    text-align: center;
    color: coral;
}

#flyers-info h1 {
    font-size: 1.9em;
}

#flyers-info h1:not(:first-child),
#flyers-info h2{
    margin-bottom: -13px
}

#flyers-info p,
#flyers-info li {
    font-weight: 500;
}

#youthdates {
    border: 1.5px solid lightgrey;
    padding: 0 5px 0 15px;
    background-color: lightgoldenrodyellow;
}

#flyer-questions {
    text-align: center;
}


/***********************************************
APPLICATION PAGE
************************************************/


#lower-apply {
    margin: 119px 0 20px;
    
}

#applicationheader {
    text-align: left;
    margin: 0 5px 5px 5px;
    padding: 8px 0;
    border: 2px solid lightgray;
    background-color: floralwhite;
}

#applicationheader h1 {
    text-align: center;
    margin-top: -2px;
    font-size: 35px;
}


#flyershead {
    padding-left: 3%;
    width: 50%;
}

form {
    margin: 2%;
}

label,input,select {
    margin: 20px 0 0 10px;
}

textarea {
    margin: 5px 0 15px 10px;
    width: 310px;
}

#flyersubmit {
    display: inline-block;
    text-align: left;
    margin-left: 25%;
}

/***********************************************
PHOTO PAGE - SLIDER!
************************************************/

#gallery {
    margin: 110px 8px 15px;
}

textpanel {
    font-size: 2rem;
}


.swiper-slide img {
    height: 50%;
    width:70%;
    margin-bottom: 70px;
}



/*************************
Clearfix
*************************/

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}


/*****************************************************************
--------------  RESPONSIVE
*******************************************************************/



@media (min-width: 355px){
    #logo {
        height: 46px;
        margin: 9px 0 0 2%;
    }

/*   header size for iphone 5*/
}

@media (min-width: 370px){
    #logo {
        height: 48px;
        margin: 8px 0 0 3%;
    }

}

@media (max-height: 470px){
    
    #main-text {
        top: 40%;
    }
    
       
    #sunday {
    padding-top: 150px;        
    }
    
       
    #mobile_menu {
        height: 120%;
    }
    
    #mobile_menu a {
        padding: 3px 0 3px;
    }
}



@media (min-width: 770px){

    
/***********************************************
STAFF PAGE RESPONSIVE
************************************************/
    
    #main-content {
        width: 95%;
        max-width: 1500px;
        margin: 111px auto 0;
    }
    
    .profile {
        margin: 0 auto 20px;
        max-width: 1100px;
        display: block; 
        text-align: center;
    }
    
    .profile-photo{
        height: 190px;
    }
    
    .photo-container { 
        float: left;
        display: inline-block;
        margin-top: 10px;
        margin-right: 8px;
        padding-left: 40px;
        width: 249px;
       
    }
    
    .profile-info {
        float: left;
        width: 62%;
        display: inline-block;
        margin: 3px 0 0 0;
    }
    
    .profile-name, .profile-title {
        text-align: left;
    }
    
    
    
/***********************************************
YOUTH PROFILES PAGE
************************************************/

    #profiles-width{
        margin: 85px auto 0;
    }

    #profiles-youth{
        float: left;
        width: 58%;
    }

    #profile{
        padding: 4px 15px 1px 15px;
    }
    
    #profile img {
    }

    #profile p{
        margin-top: -1px;
    }

    #profile h3{
        font-size: 1.4rem;
    }

    #profile-videos-outer{
        float: right;
        width: 41%;
        margin: 5px 5px 0 0;
    }

    #profile-videos{
        padding: 4px;
    }

    
    
    
/***********************************************
SUPPORTERS PAGE RESPONSIVE
************************************************/
    
    #supporters-page{
        padding: 0 10px 0;
    }
    
    #supporters-youth-photo{
        float: left;
        width: 60%;
    }
    
    #about-youth-supporters-page{
        float: right;
        width: 40%;
        padding: 10px 0;    
    }
    
    .supporters{
        width: 90%;
        padding: 20px 0 0 30px;
    }
    
    #supporters-names h2{
        font-size: 1.4rem;
        margin: 0;
    }
    
    #supporters-names h3{
        font-size: 1.0rem;
        margin: 1px 0 5px;
    }
    
    #supporters-names li{
        font-size: .9rem;
    }
    
    .supporters-footer{
        display: block;
    }
    
    
    
    
   
/***********************************************
    FOOTER
************************************************/

    
    #partners {
    background-color: rgba(30,30,30,1);
    padding: 1px 0 1px; 
    clear: both;
    }
    
    #partners ul {
        margin-right: 10px;
    }
    
    #partners ul li {
        margin: 0 20px;
        display: inline-block;
    }

    #partners ul img {
        height: 70px;
    }
    
    #partners a li img[src*="OCLogo"] {
        height: 40px;
        margin-bottom: 11px;
    }
    
}


/***********************************************
 PHOTO PAGE - SLIDER RESPONSIVE
************************************************/

/*@media only screen and (min-width: 1030px){
       
}*/

@media (min-width: 1030px) {
    
    
        
     #browser-menu-youth {
        display: inline-block;
        float: right;
        font-size: 19px;
        margin-bottom: 0px;
        margin-right:10px ; 
        line-height: 96px;
        width: 523px;
        position: relative;
    }
    
    .menu-about {
        
    }
    
    #browser-menu-youth a {
        margin-right: 28px;
        float: left;
    }
    
    #browser-menu-youth a:last-child {
        margin-right: 20px;
    }
    
    #drop-menu{
        position: absolute;
        top: 94px;
        right: 231px; 
        padding: 0;
        margin: 0;
        border: 2px solid black;
        display: none;
    }
    
    .drop-item {
        line-height:31px;
        margin: 0;
        padding: 0;
        width: 210px;
        background: rgba(30,30,30,1);
    }
    
    .drop-item a{
        width: 210px;
        text-align: left;
        padding-left: 4px;
        font-size: 1.1rem;
        
    }
    
    .drop-item .selected{
        background: rgba(30,30,30,1);
    }
    
    .drop-item:not(:last-child){
        border-bottom: 2px solid black;
    }
    
/*
    .drop-item:hover{
        background: white;
    }
*/
    
    #drop-menu:hover {
        color: rgba(0,161,217,1);
    }
    
    .jumbotron-youth {
    height: 465px;
    margin-top: 102px;   
    }
    
    .jumbotron-about {
    height: 465px;
    margin-top: 102px;   
    }
    
    #home-parag,
    #about-youth,
    #supporters-thanks{
        font-size: 1rem;
    }
    
    .fearless-flyers-program {
        font-size: 1.2rem;
    }
    
    #gallery{
        margin: 125px 0 14px;
    }
    
    .photo-slider img{
        margin: 10px auto 10px; 
        height: 80%;
        width: 80%;
    }
    
    .slick-prev:before, .slick-next:before{
    display: block;
    }
    
    #header {
        height: 103px;
    }
   
    #header-content {
        margin: 0 auto;
        max-width: 1500px;
        height: 100px;
    }
    
    
    #logo {
        height: 63px;
    }
  
    #mobile_menu, 
    #nav_lines,
    .hamburger {
        display:none;
    }
    
    
    .buttonx {
        bottom: 45px;
    }
    
    #photo1,
    #photo2,
    #photo3 {
        float: left;
        width: 30.2%;
        margin: 1.5%;
        display: inline-block;
    }
    
    #photo1 p:not(.header),
    #photo2 p:not(.header),
    #photo3 p:not(.header),
    #photo2 li {
        text-align: left;
        line-height: 20px;
    }
    
    #logos {
        margin-top: 0;
        padding-bottom: 10px; 
        height: 100px;
    }
    
    #logo {
        margin-left: 4%;
    }
    
    #youthwidth {
        max-width: 1400px;
        margin: 0px auto;
        padding-right: 5px;
        background: none;
    }
    
    #app-youthwidth {
        max-width: 1400px;
        margin: 0 auto;
        padding-right: 5px;
        background: none;
    }
    
    #about-youth{
        float: left;
        width: 60%;
        padding: 0 0 115px;
        margin-bottom: 0px;
        background:#efefef;
    }
    
    #risks {    
        padding-left: 13px;
    }
    
    #diany-photos h3{
    font-size: 1.3rem;
    }
    
    #about-youth-supporters{
        float: right;
        width: 40%;
        padding: 10px 0;        
        margin-top: -10px;
    }
    
    #about-supporters{
        padding-right: 0;
    }
    
    #youth-grads {  /*home page*/
        float: left;
        width: 38%;
        padding: 20px 0 0 30px;
    }
    
    #donation{
        margin-top: 20px;
    }

    #long-range-goal {
        float: left;
        margin:0;
        width: 97%;
    }
    
    #long-range-goal p {
        padding: 5px;
    }
        
    textarea {
    width: 620px;
    }
    
    #flyersubmit {
        margin-left: 220px;
    }
    
    #partners ul li {
        margin: 0 40px;
    }
    
    .youth-footer {
        clear: both;
    }
    
/***********************************************
STAFF PAGE RESPONSIVE
************************************************/
    #main-content {
        width: 93%;
    }
    
    .profile {
        
    }
    
    .photo-container { 
        margin-right: 18px;
    }
    
    .profile-info {
        width: 70%;
    }
    
    .profile-name {
        font-size: 1.5em
    }
    
    .profile-title {
        font-size: 1.2em
    }
    
    
    #flyers-info {
        margin-top: 122px;
        margin-bottom: 11px;
    }
    
    
    
        #profiles-width{
        margin: 102px auto 0;
        max-width: 1400px;    
    }
    
/***********************************************
SUPPORTERS PAGE RESPONSIVE
************************************************/
    
    #supporters-youth-photo{
        padding-top: 20px;
    }
    
    #supporters-youth-photo img{
        padding: 0 15px;
    }
    
    #about-youth-supporters{
        padding: 10px 0;    
    }
    
    #supporters-names {
        padding-top: 20px;
    }
    
    #supporters-names p {
        font-size: 1rem;
    }
    
    .supporters{
        width: 90%;
        padding: 20px 0 0 30px;
        padding-left: 0;
        margin-left: 5px;
    }
    
    #supporters-names h2{
        font-size: 1.6rem;
        margin: 0;
    }
    
    #supporters-names h3{
        font-size: 1.4rem;
        margin: 1px 0 5px;
    }
    
    #supporters-names li{
        font-size: 1rem;
    }
    
    .supporters-footer{
        display: block;
    }
    
    
    
  

}

